.App {
  text-align: center;
}

article,section{
  padding: 20px;
  width: 800px;
  margin: 10px auto;
  border:1px solid rgba(0,0,0,.7);
  border-radius:4px
}

.checkbox{
  margin-right: 20px;
}
.todo{
  font-size: 20px;
  margin-right: 20px;
}
.button{
  background: rgb(227, 109, 109);
}